<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add New Chats</h2>
    <form action="/chats" method="post">
        <input type="text" placeholder="Your Name" name="from"><br><br>
        <textarea name="message" placeholder="Write your message"></textarea><br><br>
        <input type="text" placeholder="Receiver Name" name="to">
        <hr>
        <button>Submit</button>
    </form>
</body>
</html>