<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Total Number of user we have is: <%= count %></h2>
    <form action="/user"><button>Join us!</button></form>
</body>
</html>